.carre{
    margin-left: auto;
    margin-right: auto;

    width: 400px;
    height: 400px;
    position: center;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;

}