.carre4{
    background-color: rgb(19, 140, 232);
    
    position : relative;
    right: 50%;
  bottom: 100%;


    width: 200px;
    height: 200px;
   
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;


}