.color{
  background-color: color;
 
}

.orange{
    background-color: orange;   
}

.yellow{
    background-color: yellow;
}

.yellowgreen{
    background-color: yellowgreen;
}

.blue{
    background-color: rgb(19, 140, 232);
}