.carre2{
    background-color: yellow;
    margin-left: 50%;
    margin-right: 0;
    margin-bottom: 50%;

    width: 200px;
    height: 200px;
    position: center;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;

}